<?xml version="1.0" encoding="UTF-8"?>

<suite name="Functional Suite" verbose="1">

 	
	<test name="All Functional Tests - CHROME">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.westharrison.test.FunctionalTests">

			</class>
		</classes>
	</test>

	
	<test name="All Functional Tests - FIREFOX">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.westharrison.test.FunctionalTests">

			</class>
		</classes>
	</test>
	
</suite>
