<?xml version="1.0" encoding="UTF-8"?>

<suite name="Functional Suite" verbose="1" >

	<parameter name="browser"  value="chrome"/>
	  <test name="Functional Tests" >
	    <classes>
	       <class name="com.westharrison.test.FunctionalTests">
	       		<!-- <methods>
	       			<include name= "testGraceLakeInnerMenu"/>
	       		</methods> -->
	       </class>
	    </classes>
	  </test>
  
</suite>
