<?xml version="1.0" encoding="UTF-8"?>

<suite name="All Global Suite" verbose="1">


	<test name="All Global Tests - CHROME">
		<parameter name="browser" value="chrome" />
		<groups>
			<run>
				<include name="before" />
				<include name="after" />
				<include name="global" />
			</run>
		</groups>

		<packages>
			<package name="com.westharrison.test" />
		</packages>
	</test>


	<test name="All Global Tests - FIREFOX">
		<parameter name="browser" value="firefox" />
		<groups>
			<run>
				<include name="before" />
				<include name="after" />
				<include name="global" />
			</run>
		</groups>

		<packages>
			<package name="com.westharrison.test" />
		</packages>
	</test>

</suite>
